.item{
    white-space: nowrap;
    font-size: 70%;
    background: transparent;
    transition: 200ms ;
    box-shadow: 2px 2px 2px #0e0e0e69;
    border: 2px solid #5a8d59;
    border-radius: 9px;
    padding: 0;
    padding-inline: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 4px;
    filter: drop-shadow(2px 2px 2px #0e0e0e71);


    &:hover {
        cursor: pointer;
        scale: 1.1;
        filter: drop-shadow(2px 2px 2px #4a4d4cd9);

    }

    &:active {
        transition: 150ms;
        scale: 1.25;
    }

}

.removed{
    border: #8d5959;
}