.container {
    width: clamp(250px, 28%, 400px);
    height: 100%;
    z-index: 1000;
    background: linear-gradient(45deg, rgb(106, 221, 171) 30%, rgb(78, 213, 136) 100%);
    box-shadow: -2px 5px 4px #0000004d;
}

.block1 {
    padding-bottom: clamp(8px, 0.75vw, 12px);
    margin: clamp(12px, 1.25vw, 20px);
    display: flex;
    justify-content: space-between;
    border-bottom: 4px solid #0000001b;
    border-radius: 5px;

    .close_btn {
        width: clamp(20px, 3vw, 40px);
    }

    .acount_btn {
        width: clamp(30px, 4vw, 50px);
    }
}

.block2 {
    margin: clamp(12px, 1.25vw, 20px);
    padding-bottom: clamp(8px, 0.75vw, 12px);

    & * {
        outline: none !important;
    }

    .collapse {
        font-size: clamp(18px, 1.7vw, 28px);

        &:hover {
            filter: drop-shadow(2px 2px 4px #0c677337);
            transition: 150ms;
        }

        &:active {
            transition: 150ms;
            scale: 1.01;
        }
    }

    .collapse_icon {
        width: clamp(16px, 2vw, 32px);
        align-self: center;
    }
}

.block3 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: calc(100% - clamp(20px, 2.5vw, 40px));
    padding: clamp(12px, 1.25vw, 20px);
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.button {
    background: transparent !important;
    height: clamp(30px, 4vh, 50px);
    outline: none !important;
    transition: 200ms !important;
    box-shadow: 2px 2px 2px #0e0e0e93;
    border: 2px solid #00000066 !important;
    border-radius: 12px;
    padding: 8px;
    padding-inline: 7%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5%;
    font-size: clamp(12px, 1.02vw, 18px);
    margin-inline: clamp(8px, 1vw, 16px);

    &:hover {
        cursor: pointer;
        scale: 1.05;
        box-shadow: 2px 2px 2px #00000093;
    }

    &:active {
        transition: 150ms;
        scale: 1.25;
    }

    & div {
        width: 140%;
    }
}

.add_location_btn {
    @extend .button;
}

.contacts_btn {
    @extend .button;
}

.contacts_btn_container {
    padding: clamp(12px, 1.25vw, 20px) clamp(12px, 1.25vw, 20px) clamp(12px, 1.25vw, 20px) 0;

    &:hover .contacts_btn {
        transition: 300ms;
        transform: translateX(200%);
    }
}

.icon_container {
    width: 30%;
    height: 100%;
}

.icon {
    aspect-ratio: 1/1;
    width: clamp(16px, 2vw, 32px);
}
